*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Cabin', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.image-top{
    position: relative;
}
img{
    max-width: 100%;
    height: auto;
}
.interior-title{
    font-family: 'Montez', cursive;
    font-size: 86px;
    color: #FFF;
    position: absolute;
    left: 35%;
    top: 50%;
    text-shadow: 3px 3px 3px #000;
}
.top-menu{
    margin-top: 20px;
    font-family: 'Montez', cursive;
    border-bottom: 1px solid #0a8446;
}
.menu-title{
    font-size: 32px;
    margin: 5px 0 10px;
}
.so-widget-image{
    background-image: url("../imgs/ham-sandwich-1.jpg");
    width: 1090px;
    height: 434px;
    background-size: cover;
    margin-bottom: 30px;
}
.so-widget-title{
    font-family: 'Montez', cursive;
    font-size: 30px;
    color: #FFF;
    padding-top: 210px;
    text-shadow: 3px 3px 3px #000;
}
.all-prices{
    font-size: 15px;
    font-style: italic;
    margin-bottom: 40px;
}
.panel-widget{
    height: 195px;
}
.h3{
    margin: 0 0 10px;
    color: #017E2F;
    font-size: 20px;
    font-weight: 700;
}
.h4{
    margin: 0 0 10px;
    font-size: 16px;
    font-weight: 700;
}
.h5{
    font-weight: 400;
}
.so-widget-image1{
    background-image: url("../imgs/pastries1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 1090px;
    height: 434px;
    margin-bottom: 30px;
}
.so-widget-image2{
    background-image: url("../imgs/strawberry.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 1090px;
    height: 434px;
    margin-bottom: 30px;
}