*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
body{
    font-size:15px;
    line-height:1.25;
    font-family:'Cabin', sans-serif;
}
.section{
    float:left;
    width:100%;
}
/*HEADER*/
.header-catering-gallery{
    position:relative;
    height:630px;
    background-image:url("../imgs/catering-gallery.jpg");
    background-size:cover;
    background-position:center center;
}
.header-catering-gallery .title-header-catering-gallery{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    color:#ffffff;
    font-size:100px;
    font-family: 'Montez', cursive;
    text-shadow:3px 3px 0 rgb(0,0,0);
    pointer-events:none;
}
/*MAIN*/
.main-gallery{
    position:relative;
    padding:60px 0 0;
    background-color:#ffffff;
}
.main-gallery::before{
    content:"";
    position:absolute;
    display:block;
    background-image:url("../imgs/border-top.png");
    background-repeat:repeat-x;
    width:100%;
    top:-52px;
    left:0;
    height:54px;
}
.main-gallery__container{
    padding-bottom:60px;
}
.main-gallery__container .items-block{
    width:20%;
    float:left;
    height:250px;
    padding:4px;
}
.main-gallery__container .items-block .items{
    overflow:hidden;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100%;
}
.main-gallery__container .items .images{
    cursor:pointer;
}
.wood-bg{
    position:relative;
    height:200px;
    background-image:url("../imgs/wood.jpg");
    background-size:cover;
    background-position:center center;
}
.wood-bg::before{
    content:"";
    position:absolute;
    display:block;
    background-image:url("../imgs/border-bottom.png");
    background-repeat:repeat-x;
    top:0;
    left:0;
    right:0;
    height:54px;
}
/*IFRAME*/
.iframe-gallery{
    position:fixed;
    z-index:11;
    width:0;
    height:100%;
    padding:30px 0;
    transition:width 1s;
    background-color:rgba(0,0,0,0.5);
    backdrop-filter:blur(8px);
}
.iframe-gallery .close-button{
    position:absolute;
    display:none;
    top:0;
    right:0;
    padding:5px 10px;
    cursor:pointer;
}
.arrow-left{
    position:absolute;
    display:none;
    left:0;
    top:50%;
    transform:translateY(-50%);
    padding:100px 20px;
    cursor:pointer;
}
.arrow-right{
    position:absolute;
    display:none;
    right:0;
    top:50%;
    transform:translateY(-50%);
    padding:100px 20px;
    cursor:pointer;
}
.iframe-gallery__img{
    display:flex;
    justify-content:center;
    align-items:center;
    margin:0 77.5px;
    overflow:hidden;
    height:100%;
}
.iframe-gallery .arrow-right:hover,.arrow-left:hover,.close-button:hover{
    background-color:rgba(0,0,0,0.5);
}
.iframe-gallery .arrow-right:hover,.arrow-left:hover,.close-button:hover i{
    color:white;
}