*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-size:15px;
    line-height:23px;
    font-family: 'Cabin', sans-serif;
}
div{
    display: block;
}
img{
    width: auto;
}
.trailer-menu-item{
    position: relative;
    padding-left:30px;
    height: auto;
    background-color:#ffffff;
}
.trailer-menu-item::after{
    content:"";
    display:table;
    clear:both;
}
.trailer-menu-item::before{
    content:"";
    display:block;
    height:54px;
    position:absolute;
    top:-54px;
    left:0;
    right:0;
    z-index:10;
    background-image:url("../imgs/border-top.png");
    background-repeat:repeat-x;
}
.trailer-menu-item-part1 h2{
    font-family: 'Montez', cursive;
    font-size: 50px;
}
.trailer-menu-item__buttons{
    position: absolute;
    left:70%;
    top:10px;
}
.button-item{
    background-color: #3e8f3e;
    border: 3px solid #3e8f3e;
    border-radius: 0;
    color: #FFF;
    display: block;
    padding: 12px 6px 10px;
    text-align: center;
    transition: color .15s ease,background-color .15s ease,border-color .15s ease;
    white-space: nowrap;
    font: normal 700 14px/1.43 DIN,sans-serif;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-decoration: none;
    float: right;
}
.trailer-menu-item__buttons :hover .button-item{
    color: #3e8f3e;
    background-color: #f1f0f0;
    text-decoration: none;
}
.slick-track{
    position:relative;
    opacity: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    float: left;
    background-color:#ffffff;
    margin-bottom: 30px;
}

.slick-track::after{
    content:"";
    display:block;
    height:54px;
    position:absolute;
    bottom:-54px;
    left:0;
    right:0;
    z-index:1;
    background-image:url("../imgs/border-bottom.png");
    background-repeat:repeat-x;
}
.cake-sp{
    margin: auto;
    border: #e9e7e7 10px solid;
    padding: 20px 0;
    background-color: #f1f0f0;
    margin-bottom: 30px;

}
.featured-menu-item{
    pointer-events: none;
}
.featured-menu-item__title{
    color: #3e8f3e;
    display: block;
    text-align: center;
    font-size: 26px;
    text-decoration: none;
}
.featured-menu-item__image {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    flex-grow: 1;
    margin: 10px 0;
    max-width: 100%;
    min-height: 1px;
}
.featured-menu-item__title:after {
    content: ' ';
    display: block;
    height: 60px;
    background: url("https://img.pngio.com/collection-of-free-transparent-text-divider-download-on-ui-ex-text-separator-png-1250_196.png") center no-repeat;
    background-size: contain;
}
.featured-menu-item__title:before {
    content: ' ';
    display: block;
    height: 27px;
}
.slick-track :hover{
     border: #aaaaaa 10px solid;
    text-decoration: none;
}
.slick-track :hover .featured-menu-item__title{
    color: #aaaaaa ;
    transition: 0.9ms;
}
/*h2{*/
/*    margin: 0;*/
/*    padding-left: 50px;*/
/*    text-transform: uppercase;*/
/*}*/
.ad-content{
    position:relative;
    width: 100%;
    height: 600px;
    display: block;
    float: left;
}
.ad-content-detail h3 {
    position:absolute;
    top:50%;
    left:50%;
    display:block;
    width:70%;
    transform:translate(-50%,-50%);
    font-size: 79px;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 2px #000;
}
.ad-content-detail h3 a{
    display:block;
    font-family: 'Montez', cursive;
    color: #f1f0f0;
    text-decoration: none;
}
.ad-content-detail h3 ::before {
    content: "";
    background: url("../imgs/top-border-fresh.png") no-repeat;
    width: 64%;
    height: 79px;
    display: block;
    margin: 0 auto;
    background-size: contain;
}
.ad-content-detail h3 ::after {
    content: "";
    background: url("../imgs/bottom-border-fresh.png") no-repeat;
    width: 64%;
    height: 79px;
    bottom:-20px;
    display: block;
    margin: 20px auto;
    background-size: contain;
}