*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-size:15px;
    line-height:23px;
    font-family: 'Cabin', sans-serif;
    /*background-image:url("../imgs/hamburger.jpg");*/
    /*background-repeat:no-repeat;*/
    /*background-attachment:fixed;*/
    /*background-size:cover;*/
}
div{
    display: block;
}
.main02{
    background-color: white;
    position: relative;
}
.main02::before{
    content:"";
    display:block;
    height:54px;
    position:absolute;
    top:-54px;
    left:0;
    right:0;
    z-index:1;
    background-image:url("../imgs/border-top.png");
    background-repeat:repeat-x;
}
.main02::after{
    content:"";
    display:block;
    height:54px;
    position:absolute;
    bottom:-54px;
    left:0;
    right:0;
    z-index:1;
    background-image:url("../imgs/border-bottom.png");
    background-repeat:repeat-x;
}
.menu-main02{
    width: 100%;
    height: auto;
}
.menu-main02 img{
    max-width: 100%;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.title-main02{
    margin-bottom: 10px;
}
.title-main02 h2{
    font-family: 'Montez', cursive;
    font-size: 50px;
}
.title-main02-button{
    position: relative;
}
.button-item{
    position: absolute;
    left:70%;
    top:34px;
}
.button-item{
    background-color: #3e8f3e;
    border: 3px solid #3e8f3e;
    border-radius: 0;
    color: #FFF;
    display: block;
    padding: 12px 6px 10px;
    text-align: center;
    transition: color .15s ease,background-color .15s ease,border-color .15s ease;
    white-space: nowrap;
    font: normal 700 14px/1.43 DIN,sans-serif;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-decoration: none;
}
.button-item:hover{
    color: #3e8f3e;
    background-color: #f1f0f0;
    text-decoration: none;
}
/*DONE P1 MAIN02*/
.newsp02{
    padding: 0;
}

.sp-name{
    margin-top: 30px;
    color: #514f4f;
    display: block;
    font-size: 26px;
    text-decoration: none;

}
.newsp02 img{
    transition:0.5s;
}
.newsp02:hover img{
    transform:scale(1.1);
    z-index: 1;
}
.newsp02:hover .sp-name{
    color: #3e8f3e;
}
.menu-main02::after{
    content: ' ';
    display: block;
    height: 60px;
    background: url("https://img.pngio.com/collection-of-free-transparent-text-divider-download-on-ui-ex-text-separator-png-1250_196.png") center no-repeat;
    background-size: contain;
    filter: contrast(100%);
}

.ad-content{
    position:relative;
    width: 100%;
    height: 600px;
    display: block;
    float: left;
    background-image:url("../imgs/hamburger.jpg");
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:cover;
}
.ad-content-detail h3 {
    position:absolute;
    top:50%;
    left:50%;
    display:block;
    width:70%;
    transform:translate(-50%,-50%);

}
.ad-content-detail h3 a{
    display:block;
    font-family: 'Montez', cursive;
    color: #f1f0f0;
    text-decoration: none;
    font-size: 79px;
    text-align: center;
    text-shadow: 2px 2px 2px #000;
}
.ad-content-detail h3 ::before {
    content: "";
    background: url("../imgs/top-border-fresh.png") no-repeat;
    width: 64%;
    height: 79px;
    display: block;
    margin: 0 auto;
    background-size: contain;
}
.ad-content-detail h3 ::after {
    content: "";
    background: url("../imgs/bottom-border-fresh.png") no-repeat;
    width: 64%;
    height: 79px;
    bottom:-20px;
    display: block;
    margin: 20px auto;
    background-size: contain;
}