*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-menu {
    position:fixed;
    top:0;
    padding: 15px 40px;
    width: 100%;
    z-index:100;
}
.menu-nav {
    padding: 5px;
}
.menu-nav .button-order {
    margin-top: 15px;
}
.nav-menu{
    background-color: white;
    height: 100px;
    float: left;
    opacity: 0.9;
}
.header{
    position:relative;
    width: 100%;
    float: left;
}

.top-links li{
    list-style: none;
    float: left;
    margin-right: 20px;
}
.nav-menu a{
    color: #3c763d;
}
.top-links {
    float: left;
    padding: 20px;
    font-size: 16px;
    margin-top: 8px;
}
.social-menu{
    margin: 15px;
    float: left;
    margin-top: 28px;
}
.social-menu li{
    list-style: none;
    float: left;
    margin-right: 20px;
}
.button-order{
    margin-top:10px;
    padding:0;
    display:table-cell;
    height:100%;
    vertical-align:middle;
}
.button-order:hover{
    filter: hue-rotate(30deg);
}
.button-order .order-online{
    background-image: url("https://scontent.fhan2-6.fna.fbcdn.net/v/t1.15752-9/122479233_790350995145325_6791239644913589385_n.png?_nc_cat=100&ccb=2&_nc_sid=ae9488&_nc_ohc=0pGQCyebYLgAX_f_vb0&_nc_ht=scontent.fhan2-6.fna&oh=265d359e63b38d83b6afc9b521dbce5e&oe=5FBC1D56");
    background-repeat:no-repeat;
    height:55px;
    width:198px;
    display: table-cell;
    color: #fff;
    text-align: center;
    text-decoration:none;
    vertical-align:middle;
}
.slider{
    position: relative;
    z-index: 2;
    margin-top: -75px;
    display: block;
}
.row-slider{
    width: 99%;
}
.header-background-img1 {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
/*.ss{*/
/*    content: "";*/
/*    background-image: url("https://scontent.fhan2-6.fna.fbcdn.net/v/t1.15752-9/122462927_780908489136292_7144268804761022299_n.png?_nc_cat=103&ccb=2&_nc_sid=ae9488&_nc_ohc=hYtcf4WYZiEAX9atfIg&_nc_ht=scontent.fhan2-6.fna&oh=8fc8dbc0e07d4136f249545a63c3e460&oe=5FBB8C7D");*/
/*    display: block;*/
/*    position: absolute;*/
/*    top: -26px;*/
/*    height: 26px;*/
/*    width: 100%;*/
/*    left: 0;*/
/*    z-index: 1;*/
/*    background-size: 100% 100%;*/
/*    padding: 0;*/
/*    margin: 0;*/
/*    color: #3c763d;*/
/*}*/