*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-size:16px;
    line-height:1.25;
    font-weight:400;
    font-family: 'Cabin', sans-serif;
}
.section{
    width:100%;
    float:left;
}
.nav-menu{
    background-color:rgba(255,255,255,0.9);
    position:fixed;
    z-index:10;
}
.nav-menu__container{
    display:flex;
    flex-direction:row;
    align-items:center;
}
.nav-menu__container .flex-items:last-child{
    margin-left:auto;
    padding:0;
}
.nav-menu__container .flex-items:last-child .order-btn__name{
    position:absolute;
    display:block;
    width:fit-content;
    color:white;
    font-size:14px;
    font-weight:500;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.nav-menu__container .flex-items:last-child .order-btn:hover img{
    filter:hue-rotate(30deg);
}
.nav-menu__container .flex-items:first-child{
    padding-right:40px;
}
.flex-items{
    margin:10px 0;
    padding-right:25px;
}
.flex-items a{
    display:block;
    position:relative;
    color:#017e2f;
    font-size:16px;
}
.flex-items a:hover{
    text-decoration-color:#3e8447;
}
.flex-items .icon-links:hover{
    color: #00c6c6;
}